* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Press Start 2P", system-ui;
    font-size: 22px;
    color: #fff;
    letter-spacing: 5px;
    background-color: black;
}

.gameBoard {
    position: relative;
    display: flex;
    flex-direction: column;

    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 120px;
        width: 1024px;
        height: 576px;
        background-color: rgba(255, 255, 255, 0.3);
        cursor: default;

        .menu-text {
            text-align: center;
        }

        .difficulty {
            display: flex;
            justify-content: center;
            gap: 100px;

            .mode {
                padding: 20px;
                cursor: pointer;
            }
        }

        .start-btn {
            padding: 20px;
            cursor: pointer;
        }
    }

    .info-container {
        display: flex;
        justify-content: center;
        flex-direction: row;

        .player-info {

            .radiation {
                display: flex;

                .radiation-text {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .radiation-bar {
                    position: relative;
                    padding: 7px 0px;
                    margin: 20px;
                    width: 300px;
                    height: 30px;

                    .bar {
                        width: 0%;
                        height: 100%;
                        background-color: rgb(86, 170, 21);
                    }
                }

                .radiation-bar::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: rgb(86, 170, 21);
                }

                .radiation-bar::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 3px;
                    background-color: rgb(86, 170, 21);
                }
            }

            .score {
                display: flex;
                justify-content: flex-start;
                gap: 20px;
                margin-left: 88px;

                .score-text {
                    
                }

                .score-number {
                    
                }
            }
        }

        .lifes {
            
        }
    }
}